/* Creative.css */

/* General styles */
.sec4-card {
  padding: 20px;
  background-color: #181818;
  border-radius: 8px;
  margin: 20px;
}

.sec4-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec4-para {
  color: white;
}

.sec4-content {
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
}

.sec4-img {
  max-width: 100%;
  height: auto;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  .sec4-div {
    flex-direction: row;
    text-align: left;
  }

  .sec4-left {
    flex: 1;
    margin-right: 20px;
  }

  .sec4-img {
    max-width: 60%;
  }

  .sec4-right {
    flex: 1;
  }

  .sec4-content {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .sec4-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sec4-img {
    max-width: 100%;
  }

  .sec4-div {
    width: 70%;
    margin: auto;
  }

  .sec4-content {
    font-size: 2em;
  }
}

/* Small screen styles */
@media screen and (max-width: 767px) {
  .sec4-img {
    max-width: 50%; /* Adjust as needed for small screens */
  }

  .sec4-content {
    font-size: 1.2em; /* Adjust as needed for small screens */
  }
}
