/* General styles */
.sec6-card {
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.sec6-card-head {
    text-align: center;
    width: 50%;
    font-size: 2em;
    padding: 10px;
}

.sec6-div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    flex-direction: column;
}

.sec6-left-inner-img-common {
    height: 3.5em;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgb(207, 207, 207);
    border-radius: 7px;
}

.sec6-left {
    background: url("../../assets/staticL.jpg");
    width: 100%; /* Add width for responsiveness */
    flex: 1;
}

.sec6-inner-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.sec6-left-inner-img {
    height: 3.5em;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgb(207, 207, 207);
    border-radius: 7px;
}

.sec6-left-inner-text {
    width: 70%;
    text-align: center;
}

.sec6-cols {
    padding: 2.5em;
}

.sec6-right {
    width: 100%;
    height: auto;
    max-height: 303px;
    max-width: 600px;
    background: url("../../assets/staticR.jpg");
    background-color: rgb(0, 0, 0);
    background-position: center;
    padding-bottom: 10%;
}

.sec6-inner-right {
    width: 80%;
    height: 100%;
    color: white;
    margin: 6% 0 0 8%;
}

.sec6-img1 {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.sec6-btn {
    background-color: #26D6EB;
    width: 100%;
    height: 2.5em;
    border-radius: 2px;
    padding: 10px 16px;
    margin-top: 20px;
    border: none;
    color: white;
}

.sec6-btn:hover {
    background-color: #1ea2b0;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
    .sec6-div {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .sec6-right,
    .sec6-left {
        width: 40%; /* Adjust as needed */
        margin-top: 0; /* Remove margin-top */
    }

    .sec6-left {
        margin-right: 0; /* No margin between the divs */
    }

    .sec6-btn {
        width: auto;
    }
}

/* Media queries for smaller screens */
@media (max-width: 767px) {
    .sec6-card-head {
        width: 80%; /* Adjust as needed for smaller screens */
        font-size: 1.5em; /* Adjust as needed for smaller screens */
    }

    .sec6-inner-left {
        padding: 10px; /* Adjust as needed for smaller screens */
    }

    .sec6-right {
        padding-bottom: 5%; /* Adjust as needed for smaller screens */
    }

    .sec6-inner-right {
        margin: 10% 0 0 5%; /* Adjust as needed for smaller screens */
    }

    .sec6-btn {
        height: 40px; /* Adjust as needed for smaller screens */
        padding: 8px 14px; /* Adjust as needed for smaller screens */
    }
}
